/* root in nextjs */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  height: 500px;
  padding: 30px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: #252c39;
}
.backCard {
  margin-top: -10px;
}
.content {
  padding: 15px;
  background: #11131e;
  height: calc(100% - 30px);
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.cardFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.cardLeft {
  margin-right: 20px;
}
.header3 {
  font-size: 1.7em;
  font-weight: bold;
  color: #fafafa;
  margin-bottom: 3px;
}
.spanText {
  font-size: 2em;
  font-weight: bold;
  color: #f47c7c;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.littleText {
  font-size: 1rem;
  color: rgb(147, 152, 172);
}
.btnLogin {
  padding: 13px;
  background-color: #7090e7;
  color: #fff;
  width: inherit;
  max-width: 200px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.2em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.icon {
  /* color: red; */
  margin-right: 6px;
}
@media (max-width: 405px) {
  .cardLeft {
    margin-right: 0px;
    display: none;
  }
  .header3 {
    font-size: 1.6em;
    font-weight: bold;
    color: #fafafa;
  }
  .littleText {
    font-size: 0.9rem;
    color: rgb(147, 152, 172);
  }
}
